@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');

body {
  font-family: 'Poppins';
  background-image: url('http://st.depositphotos.com/1705350/4917/v/450/depositphotos_49172079-Back-to-school-background.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: repeat;
}

.container {
  text-align: center;
  height: 95vh;
}

.page-title {
  color:#000000;
  margin-top: 40px;
  
}

.page-subtitle {
  color:#A9A9A9;
  margin-top: 5px;
}

.page-logo {
  width: 100px;
  position:absolute;
  left: 10px;
  top: 10px;  
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.notas input {
  border-radius: 4px;
  padding: 6px;
}

.notas button {
  border: 0;
  background: #FFD700;
  font-weight: bold;
  padding: 10px 10px;
  margin-top: 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.notas button:hover{
  opacity: 0.8;
}

.mostraResultado {
  color: white;
  font-style: bold;
  margin-top: 20px;
}